<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="div1">
<p style="font-size:20px;">Password has been set.You may go ahead and <a href="{% url 'login_signup' %}"> Login In </a> now </p>
</div>

    <style>
    .div1 {
        width: 850px;
        margin-left:250px;
        border:solid 1px black;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 40px 2px rgba(37,73,214,0.14);;
        text-align:center;
        margin-top:100px;
    }
</style>

</body>
</html>