<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="div1">
<p style="text-align:center;font-size:25px;">Please check your email inbox for further instructions. You should receive an email
    shortly with a link to reset your password. Click on the link provided in the email, and
    you will be directed to a page where you can create a new password. If you don't see the
    email in your inbox, please check your spam or junk folder. If you still haven't received
    it after a few minutes, you can request another password reset.</p>
</div>

<style>
    .div1 {
        width: 850px;
        margin-left:250px;
        border:solid 1px black;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 40px 2px rgba(37,73,214,0.14);;
        text-align:center;
        margin-top:100px;
    }
</style>
</body>
</html>