<!--<!DOCTYPE html>-->
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-12 col-md-12" style="margin-top:20px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Theatre Screen</h4>

                                <form class="mt-4" method="post" action="{% url 'update_seat' s_id=seats.id %}">
                                    {% csrf_token %}
                                    <div class="form-group mb-4">
                                        <label class="mr-sm-2" for="inlineFormCustomSelect">Theatre Name</label>
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="tname">
                                             <option>{{seats.Theatre_name}}</option>
                                            {% for i in Tname %}
                                            <option>{{i.TheatreName}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Total Seats</label>
                                        <input type="text" class="form-control" placeholder="Total Seat" name="seat" required value="{{seats.Total_seat}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Available Seats</label>
                                        <input type="text" class="form-control" placeholder="Available Seats" name="available" required value="{{seats.Available}}">
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-dark">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}','','success')
            </script>
        {% else %}
             <script>
                swal('{{i}}','','info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}