<!--<!DOCTYPE html>-->
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-12 col-md-12" style="margin-top:20px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Theatres</h4>

                                <form class="mt-4" method="post" action="{% url 'update_theatre' t_id=tdata.id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Theatre Name</label>
                                        <input type="text" class="form-control" placeholder="Name" name="tname" value="{{tdata.TheatreName}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Theatre Address</label>
                                        <textarea class="form-control" rows="3" placeholder="Address" name="taddress">{{tdata.TheatreAddress}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact</label>
                                        <input type="text" class="form-control" placeholder="Number" name="tcontact" value="{{tdata.Contact}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="abc@example.com" name="temail" value="{{tdata.Email}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Screens</label>
                                        <input type="number" class="form-control" placeholder="Screens" name="tscreen" value="{{tdata.Screen}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Capacity</label>
                                        <input type="number" class="form-control" placeholder="Seating capacity" name="tcapacity" value="{{tdata.Capacity}}">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="mr-sm-2" for="inlineFormCustomSelect">Status</label>
                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="tstatus">
                                            <option selected="">{{tdata.Status}}</option>
                                            <option>Open</option>
                                            <option>Closed</option>
                                        </select>
                                    </div>
                                    <label>Upload Image</label> <br>
                                    <img src="{{tdata.TheatreImage.url}}" width="100px" height="100px" class="mb-3"><br>
                                    <div class="input-group mb-3">

                                        <div class="input-group-prepend">

                                            <span class="input-group-text">Upload</span>
                                        </div>
                                        <div class="custom-file">

                                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="timage">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info">Update</button>
                                            <button type="reset" class="btn btn-dark">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
</body>
</html>
{% endblock %}